<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   viewBox="0 0 58.203125 58.203125"
   enable-background="new 0 0 298 298"
   width="100"
   height="100"
   id="svg3524"
   inkscape:version="0.91 r13725"
   sodipodi:docname="icon-switch.svg">
  <metadata
     id="metadata3536">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3534" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1237"
     inkscape:window-height="905"
     id="namedview3532"
     showgrid="false"
     inkscape:zoom="1.9550108"
     inkscape:cx="43.389831"
     inkscape:cy="47.728814"
     inkscape:window-x="796"
     inkscape:window-y="36"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg3524" />
  <g
     id="g3526"
     transform="matrix(0.11051399,0,0,0.13131455,12.503927,9.3690338)">
    <path
       d="m 298,178.248 -59.517,0 c -3.323,-9.592 -12.442,-16.5 -23.151,-16.5 -13.51,0 -24.5,10.99 -24.5,24.5 0,13.51 10.99,24.5 24.5,24.5 10.709,0 19.828,-6.908 23.151,-16.5 l 59.517,0 0,-16 z m -74.168,8 c 0,4.687 -3.814,8.5 -8.5,8.5 -4.687,0 -8.5,-3.813 -8.5,-8.5 0,-4.686 3.813,-8.5 8.5,-8.5 4.686,0 8.5,3.813 8.5,8.5 z"
       id="path3528"
       inkscape:connector-curvature="0"
       style="fill:#007fff" />
    <path
       d="m 171.014,87.252 -76.967,76.967 c -3.238,-1.582 -6.873,-2.472 -10.713,-2.472 -10.709,0 -19.828,6.908 -23.151,16.5 l -60.183,0 0,16 60.183,0 c 3.323,9.592 12.442,16.5 23.151,16.5 13.51,0 24.5,-10.99 24.5,-24.5 0,-3.841 -0.891,-7.476 -2.472,-10.715 L 182.328,98.566 171.014,87.252 Z m -96.18,98.996 c 0,-4.686 3.813,-8.5 8.5,-8.5 4.687,0 8.5,3.814 8.5,8.5 0,4.687 -3.813,8.5 -8.5,8.5 -4.687,0 -8.5,-3.814 -8.5,-8.5 z"
       id="path3530"
       inkscape:connector-curvature="0"
       style="fill:#007fff" />
  </g>
</svg>
